/* text color */
.dash-text-color {
  color: #11193c;
}
.color-info {
  color: #00e38c;
}
.color-danger {
  color: #ff4b75;
}
.color-blue {
  color: #2464fc;
}
.icon-size {
  font-size: 25px;
}
/* img circle */
.img-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* sidebar style */
.sidebar-main {
  border-right: 1px solid lightgray;
  box-shadow: 5px 0 5px -2px #888;
  padding: 20px 0 0 40px;
  min-height: 100vh;
}

/* dash header area */
.header-btn {
  background-color: #00e38c;
  color: lightgoldenrodyellow;
}
.header-btn:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.header-btn:active {
  transform: translateY(-3px);
}

/* dash hero area */
.hero-border {
  border-right: 1px solid lightGray;
}
.currency-list {
  background-color: lightblue;
  border-radius: 50%;
}
.currency-icon-color {
  color: #2464fc;
}

/* team member area */
.team-btn {
  background-color: lightBlue;
  border-radius: 500px;
}
.team-manager-color {
  color: #2464fc;
}

/* comparison area */
.comparison-img {
  width: 50px;
  height: 40px;
  border: 1px solid lightblue;
}
.comparison-border {
  border-bottom: 10px solid #00e38c;
  border-radius: 50px;
}

.main-side {
  position: relative;
  width: 50px;
}

.footer-side {
  position: absolute;
  top: 70%;
  right: 35%;
}

@media screen and (max-width: 992px) {
  .main-side {
    min-width: 100vw;
  }
}
