/* text color */
.dash-text-color{
  color: #11193C;
}
.color-info{
  color: #00E38C;
}
.color-danger {
  color: #FF4B75;
}
.color-blue {
  color: #2464FC;
}
.icon-size {
  font-size: 25px;
}
/* img circle */
.img-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* sidebar style */
.sidebar-main {
  border-right: 1px solid lightgray;
  box-shadow: 5px 0 5px -2px #888;
  padding: 20px 0 0 40px;
  min-height: 100vh;
}

/* dash header area */
.header-btn{
  background-color: #00E38C;
  color: lightgoldenrodyellow;
}
.header-btn:hover {
transform: translateY(-7px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}
.header-btn:active {
transform: translateY(-3px);
}

/* dash hero area */
.hero-border {
  border-right: 1px solid lightGray;
}
.currency-list {
  background-color: lightblue;
  border-radius: 50%;
}
.currency-icon-color {
  color: #2464FC;
}

/* team member area */
.team-btn{
  background-color: lightBlue;
  border-radius: 500px;
}
.team-manager-color{
  color: #2464FC;
}

/* comparison area */
.comparison-img {
  width: 50px;
  height: 40px;
  border: 1px solid lightblue;
}
.comparison-border{
  border-bottom: 10px solid #00E38C;
  border-radius: 50px;
}